* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    background-color: #111;
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
    color:#fff;

}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
}

body{
  background-color: #111;
}