*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;

}
html,body{
  height: 100%;
  width: 100%;

}
.card{
  border: 2px solid white ;
  width: 400px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  /* background-color: #333; */
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.card img{
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 30px;
}
.card button{
  padding:8px 15px;
  background-color: #fff;
  color: #111;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.card p{
  margin: 20px 0px;
  
}