*{
  margin: 0;
  padding: 0;
  /* background-color: #111; */
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  color: white;
}
button{
  padding: 10px 20px;
  margin: 10px;
  border-radius: 1px;
}

h1{
  background-color: gainsboro;
  padding: 10px 80px;
  margin: 10px;
  width: fit-content;
  font-size: 100px;
  border-radius: 20px;
}